
.icon-mail:before { content: '\e800'; } /* '' */
.icon-hammer:before { content: '\e801'; } /* '' */
.icon-hourglass:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */